h1 Desafio Slow Fish 2014

h2 Nesta Páscoa, coloque na sua mesa um peixe bom, limpo e justo

h3 O que é peixe bom?

p É o peixe fresco, saboroso e da estação. Satisfaz os sentidos e está associado à nossa cultura e identidade local.

p Quanto mais fresco, mais saboroso será o peixe.

h3 O que é peixe limpo?

p É o peixe produzido por métodos que respeitam o meio ambiente e a saúde humana.

h3 O que é peixe justo?

p É o peixe que tem preços acessíveis para os consumidores e que ao mesmo tempo garantem condições dignas de trabalho e de vida para os produtores familiares.




h4 Como saber se o peixe é fresco?

p Em geral, tente comprar peixe inteiro, em vez de filés: é mais fácil dizer se ele é  fresco e custa menos.

p Se você quiser filés, um peixeiro bom será capaz de cortá-los para você.

p Quando você comprar peixe fresco, avalie as seguintes características:

p 
strong Odor: 
o peixe fresco deve ter um ligeiro aroma do mar e algas marinhas e nunca deve apresentar odor desagradável.

p 
strong Aparência geral: 
o peixe fresco é brilhante e úmido, com uma superfície ligeiramente viscosa. Ele deve ser firme ao toque, quando não está fresca, a carne torna-se suave e tende a se desfazer.

p 
strong Olhos: 
devem ser claros, brilhantes. Fique longe de pupilas escuras e olhos opacos.

p 
strong Brânquias: 
localizadas na base da cabeça,devem possuir coloração vermelha ou rosa pálido, devem ser brilhantes e úmidas, não pegajosas ou descoloridas. Verificar as brânquias é uma das maneiras mais fáceis e eficazes de confirmar o frescor.

p 
strong Escamas: 
se presentes, estas devem estar firmes e bem aderidas ao peixe.

p 
strong Carne: 
esta deve ser firme e elástica ao toque. Em filés, é difícil julgar a consistência da carne. No entanto, dependendo da espécie, deve ser de uma cor branco pérola, com leve tom rosado próximo à coluna vertebral.

p Um peixe sem os órgãos internos deve ter uma cavidade abdominal de coloração pálida.  Se houver vestígios de sangue , este deve ser vermelho vivo, enquanto a espinha dorsal deve estar firmemente ligada à carne.

p 
strong Para manter o peixe fresco por mais tempo, 
transporte em uma embalagem térmica. Assim que você chegar em casa ou no restaurante, remova cuidadosamente todos os órgãos internos, lave-o em água corrente e, em seguida, seque-o.  Armazene os peixes na parte inferior do refrigerador, embrulhado em papel de alumínio, e o utilize em três dias, no máximo.
